.background {
    margin: 0;
    height: 100vh;
    background-color: rgb(10, 16, 83);
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    position: relative; /* Add relative positioning */
}

.h1-top {
    position: absolute;
    top: 50px; /* Adjust top position */
    left: 50%;
    width: max-content;
    padding: 0 10px;
    transform: translateX(-50%);
    color: rgba(238, 238, 238, 0.554);
    font-family: 'Monaco', sans-serif;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container */
    width: 1000px;
    height: 500px;
    background-color: rgba(12,12,12,0.6);
    border: 2px solid #333;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 8px rgba(122, 193, 237, 0.1);
    margin-top: 50px;
}

.container label {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    color: white;
}

.container input {
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
}


.message-box textarea
{
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #fff9f9;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    resize: vertical;
}